

.wrapper_packs{
  margin-top: 70px;
  h4{
    padding: 7px 0;
    margin: 0;
  }
  #simple-board {
    width: 100%;
  }
  #row0 {
    border: 1px solid #2b8bc6;
  }
  .page {
    display: inline-block;
    font-weight: bold;
    color: #2b8bc6;
    border: 1px solid #2b8bc6;
    padding: 0.5px 6px;
    border-radius: 5px;
  }
  //.btn_pack {
  //  border-radius: 4px;
  //  font-size: 15px;
  //  background-color: powderblue;
  //  letter-spacing: 0.06em;
  //  box-shadow: 1px 3px 7px #000;
  //}
  //.btn_pack:hover {
  //  background-color: #45c7d0;
  //}
  //.btn_pack:active {
  //  border: 1px solid #000;
  //  box-shadow: 1px 3px 7px #45c7d0;
  //}
}




/* General Buttons */
.btn_pack {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

  /* Just for presentation */
  //display: block;
  //margin: 0 auto;
  //margin-bottom: 20px;
}
.btn_pack:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.btn_pack:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

/* Button pointing left */

button.back {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}
button.back:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-right: 16px solid transparent;
  border-left: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}
























